.icon-arrow() {
   background-image: url("../data/icon-arrow.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
.icon-arrow-hover() {
   background-image: url("../data/icon-arrow-hover.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
.header() {
   background-image: url("../data/header-bg.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
.build() {
   background-image: url("../data/build.svg");
   background-repeat: no-repeat;
   background-position: right;
   background-size: contain;
}
.info() {
   background-image: url("../data/info-bg.svg");
   background-repeat: no-repeat;
   background-position: left bottom;
   background-size: contain;
}

.task-1() {
   background-image: url("../data/icon-tasks-2.svg");
   background-repeat: no-repeat;
   background-position: left center;
   background-size: contain;
}
.task-2() {
   background-image: url("../data/icon-tasks-1.svg");
   background-repeat: no-repeat;
   background-position: left center;
   background-size: contain;
}
.task-3() {
   background-image: url("../data/icon-tasks-3.svg");
   background-repeat: no-repeat;
   background-position: left center;
   background-size: contain;
}
.task-4() {
   background-image: url("../data/icon-tasks-4.svg");
   background-repeat: no-repeat;
   background-position: left;
   background-size: contain;
}

.calendar() {
   background-image: url("../data/calendar-bg.svg");
   background-repeat: no-repeat;
   background-position: left center;
   background-size: contain;
}

.map() {
   background-image: url("../data/map.svg");
   background-repeat: no-repeat;
   background-position: top center;
   background-size: contain;
}


.region( @name ) {
   background-image: url("../data/regions/@{name}.svg");
   background-repeat: no-repeat;
   background-position: top center;
   background-size: contain;
   
   z-index: 700;
}
.Irkutsk_Oblast() {
   .region('Irkutsk_Oblast');
}
.Belgorod_Oblast() {
   .region('Belgorod_Oblast')
}
.St-Petersburg_City() {
   .region('St-Petersburg_City')
}
.Leningradskaya_Oblast() {
   .region('Leningradskaya_Oblast')
}
.Bashkortostan_Republic() {
   .region('Bashkortostan_Republic')
}
.North_Ossetia_Republic() {
   .region('North_Ossetia_Republic')
}
.Kaluga_Oblast() {
   .region('Kaluga_Oblast')
}
.Ryazan_Oblast() {
   .region('Ryazan_Oblast')
}
.Orel_Oblast() {
   .region('Orel_Oblast')
}
.Kaliningrad_Oblast() {
   .region('Kaliningrad_Oblast')
}
.Khabarovsk_Krai() {
   .region('Khabarovsk_Krai')
}
.Volgograd_Oblast() {
   .region('Volgograd_Oblast')
}
.Dagestan_Republic() {
   .region('Dagestan_Republic')
}
.Tuva_Republic() {
   .region('Tuva_Republic')
}
.Buryatiya_Republic() {
   .region('Buryatiya_Republic')
}
.Voronezj_Oblast() {
   .region('Voronezj_Oblast')
}
.Moscow_City() {
   .region('Moscow_City')
}
.Rostov_Oblast() {
   .region('Rostov_Oblast')
}
.Vladimir_Oblast() {
   .region('Vladimir_Oblast')
}
.Nizhny_Novgorod_Oblast() {
   .region('Nizhny_Novgorod_Oblast')
}
.Sverdlovsk_Oblast() {
   .region('Sverdlovsk_Oblast')
}
.LNR() {
   .region('LNR')
}
.Yaroslavl_Oblast() {
   .region('Yaroslavl_Oblast')
}

