doctype
html

   include assets/jade/static/header

   body
      main.projects.body-wrapper.project-is
         .wrapper
            .project__link_container
               .project__link
                  span Все проекты
                  i.icon-arrow
            header.project__header_container
               h1.publications-detailed__title.publications-detailed__title-is Стажировочные
                  br
                  | площадки
            .project__info_container
               .project__info
                  h2.project-detailed__title__text.project-detailed__title__text-is.mb-4  Информация о&nbsp;проекте
                  p Цель стажировочной площадки&nbsp;&mdash; поддержка управленцев в&nbsp;сфере образования, распространение в&nbsp;субъектах Российской Федерации лучших управленческих практик.

            .project__tasks_container
               h2.project-detailed__title__text.project-detailed__title__text-is.mb-5 Основные задачи
               .project__tasks_holder
                  .project__item
                     i.icon-task.icon-task-1
                     p методическая и&nbsp;консультационная поддержка управленцев в&nbsp;сфере образования (государственные и&nbsp;муниципальные служащие органов управления образованием)
                  .project__item
                     i.icon-task.icon-task-2
                     p тиражирование позитивного опыта и&nbsp;лучших управленческих практик, нацеленных на&nbsp;решение конкретных управленческих задач
                  .project__item
                     i.icon-task.icon-task-3
                     p обобщение и&nbsp;распространение опыта стажировочной площадки с&nbsp;целью формирования и&nbsp;развития региональных и&nbsp;муниципальных систем управления образованием
                  .project__item
                     i.icon-task.icon-task-4
                     p проведение совместных мероприятий (вебинаров, семинаров, конференций, круглых столов)

            .project__calendar_container
               h2.project-detailed__title__text.project-detailed__title__text-is.mb-3 Календарь мероприятий
               .relation
               .project__calendar_holder
                  iframe(src='https://calendar.yandex.ru/embed/week?&layer_ids=23034565&tz… мероприятий' width='100%' height='100%' frameborder='0' style='border: 1px solid #eee')

            .project__map_container
               h2.project-detailed__title__text.project-detailed__title__text-is.mb-4 Интерактивная карта стажировочных площадок
               .project__map_holder
                  .map
                     .project__map_img
                     #Irkutsk_Oblast.region.region-info 1
                     #Belgorod_Oblast.region 2
                     #St-Petersburg_City.region 3
                     #Leningradskaya_Oblast.region.region-info 4
                     #Bashkortostan_Republic.region.region-info 5
                     #North_Ossetia_Republic.region 6
                     #Kaluga_Oblast.region.region-info 7
                     #Ryazan_Oblast.region.region-info 8
                     #Orel_Oblast.region.region-info 9
                     #Kaliningrad_Oblast.region 10
                     #Khabarovsk_Krai.region.region-info 11
                     #Volgograd_Oblast.region 12
                     #Dagestan_Republic.region 13
                     #Tuva_Republic.region 14
                     #Buryatiya_Republic.region.region-info 15
                     #Voronezj_Oblast.region.region-info 16
                     #Moscow_City.region.region-info 17
                     #Rostov_Oblast.region.region-info 18
                     #Vladimir_Oblast.region.region-info 19
                     #Nizhny_Novgorod_Oblast.region 20

                  #card_big-Irkutsk_Oblast.project__region_holder.card_Irkutsk_Oblast
                     h3 Иркутская область
                     .project__region_info
                        .region__info-name Центр развития инновационного опыта и&nbsp;конкурсного движения
                        a( href="tel:+79148915640" ).region__info
                           i.icon-phone
                           | 8&nbsp;(914)&nbsp;891-56-40
                        a( href="mailto:peshnya@mail.ru").region__info
                           i.icon-mail
                           | peshnya@mail.ru
                  .project__region_holder.card_Belgorod_Oblast
                     h3 Белгородская область
                  .project__region_holder.card_St-Petersburg_City
                     h3 город Санкт-Петербург
                  #card_big-Leningradskaya_Oblast.project__region_holder.card_Leningradskaya_Oblast
                     h3 Ленинградская область
                     .project__region_info
                        .region__info-name ЦНППМ ГАОУ ДПО &laquo;Ленинградский областной институт развития образования&raquo;
                        a( href="tel:+78123725039p304" ).region__info
                           i.icon-phone
                           | 8&nbsp;(812)&nbsp;372-50-39 (доб.&nbsp;304)
                        a( href="mailto:firsova@loiro.ru").region__info
                           i.icon-mail
                           | firsova@loiro.ru
                  #card_big-Bashkortostan_Republic.project__region_holder.card_Bashkortostan_Republic
                     h3 Республика Башкортостан
                     .project__region_info
                        .region__info-name &laquo;Центр непрерывного повышения профессионального мастерства педагогических работников&raquo;, &laquo;Институт развития образования Республики Башкортостан&raquo;
                        a( href="tel:+78123725039p304" ).region__info
                           i.icon-phone
                           | 8&nbsp;(812)&nbsp;372-50-39 (доб.&nbsp;304)
                        a( href="mailto:nikonova.evgesha@mail.ru").region__info
                           i.icon-mail
                           | nikonova.evgesha@mail.ru
                        a( href="mailto:madzhuga.anatolij@inbbox.ru").region__info.ml-30 madzhuga.anatolij@inbbox.ru
                  .project__region_holder.card_North_Ossetia_Republic
                     h3 Республика Северная Осетия-Алания
                  #card_big-Kaluga_Oblast.project__region_holder.card_Kaluga_Oblast
                     h3 Калужская область
                     .project__region_info
                        .region__info-name ГАУО ДПО &laquo;Калужский государственный институт развития образования&raquo;
                        a( href="tel:+79109126650" ).region__info
                           i.icon-phone
                           | 8&nbsp;(910)&nbsp;912-66-50
                        a( href="tel:+79109127308" ).region__info.ml-30 8&nbsp;(910)&nbsp;912-73-08
                        a( href="mailto:natalipr0808@mail.ru").region__info
                           i.icon-mail
                           | natalipr0808@mail.ru
                        a( href="mailto:nikolenkoskgimo@mail.ru").region__info.ml-30 nikolenkoskgimo@mail.ru
                  #card_big-Ryazan_Oblast.project__region_holder.card_Ryazan_Oblast
                     h3 Рязанская область
                     .project__region_info
                        .region__info-name ОГБУ ДПО &laquo;Рязанский институт развития образования&raquo;
                        a( href="tel:+74912446392" ).region__info
                           i.icon-phone
                           | 8&nbsp;(4912)&nbsp;44-63-92
                        a( href="mailto:riro@ryazangov.ru").region__info
                           i.icon-mail
                           | riro@ryazangov.ru
                  #card_big-Orel_Oblast.project__region_holder.card_Orel_Oblast
                     h3 Орловская область
                     .project__region_info
                        .region__info-name Отдел специального образования управления региональной образовательной политики Департамента образования Орловской области
                        a( href="tel:+79616246923" ).region__info
                           i.icon-phone
                           | 8&nbsp;(961)&nbsp;624-69-23
                        a( href="mailto:mna@adm.orel.ru").region__info
                           i.icon-mail
                           | mna@adm.orel.ru
                  .project__region_holder.card_Kaliningrad_Oblast
                     h3 Калининградская область
                  #card_big-Khabarovsk_Krai.project__region_holder.card_Khabarovsk_Krai
                     h3 Хабаровский край
                     .project__region_info
                        .region__info-name КГАОУ ДПО &laquo;Хабаровский краевой институт развития образования&raquo;
                        a( href="tel:+79145449629" ).region__info
                           i.icon-phone
                           | 8&nbsp;(914)&nbsp;544-96-29
                        a( href="mailto:khmara@profobr27.ru").region__info
                           i.icon-mail
                           | khmara@profobr27.ru
                  .project__region_holder.card_Volgograd_Oblast
                     h3 Волгоградская область
                  .project__region_holder.card_Dagestan_Republic
                     h3 Республика Дагестан
                  .project__region_holder.card_Tuva_Republic
                     h3 Республика Тыва
                  #card_big-Buryatiya_Republic.project__region_holder.card_Buryatiya_Republic
                     h3 Республика Бурятия
                     .project__region_info
                        .region__info-name Отдел дошкольного и&nbsp;общего образования Минобрнауки Республики Бурятия
                        a( href="tel:+79503914565" ).region__info
                           i.icon-phone
                           | 8&nbsp;(950)&nbsp;391-45-65
                        a( href="mailto:engelsina18@mail.ru").region__info
                           i.icon-mail
                           | engelsina18@mail.ru
                  #card_big-Voronezj_Oblast.project__region_holder.card_Voronezj_Oblast
                     h3 Воронежская область
                     .project__region_info
                        .region__info-name Воронежский институт развития образования им. Н.Ф. Бунакова
                        a( href="tel:+79081445155" ).region__info
                           i.icon-phone
                           | 8&nbsp;(908)&nbsp;144-51-55
                        a( href="mailto:tvk@virovrn.ru").region__info
                           i.icon-mail
                           | tvk@virovrn.ru
                  #card_big-Moscow_City.project__region_holder.card_Moscow_City
                     h3 город Москва
                     .project__region_info
                        .region__info-name Корпоративный университет московского образования
                        a( href="tel:+74999777265" ).region__info
                           i.icon-phone
                           | 8&nbsp;(499)&nbsp;977-72-65
                        a( href="mailto:MisozhnikovaEB@edu.mos.ru").region__info
                           i.icon-mail
                           | MisozhnikovaEB@edu.mos.ru
                  .project__region_holder.card_Rostov_Oblast
                     h3 Ростовская область
                  #card_big-Vladimir_Oblast.project__region_holder.card_Vladimir_Oblast
                     h3 Владимирская область
                     .project__region_info
                        .region__info-name  ГБУ ВО &laquo;Региональный информационно-аналитический центр оценки качества образования&raquo;
                        a( href="tel:+79157770602" ).region__info
                           i.icon-phone
                           | 8&nbsp;(915)&nbsp;777-06-02
                        a( href="mailto:belyaeva@riacoko33.ru").region__info
                           i.icon-mail
                           | belyaeva@riacoko33.ru
                  .project__region_holder.card_Nizhny_Novgorod_Oblast
                     h3 Нижегородская область

               .project__region_names
                  div( data-region='Irkutsk_Oblast')
                     .project__region_number 1
                     | Иркутская область
                  div( data-region='Belgorod_Oblast')
                     .project__region_number 2
                     | Белгородская область
                  div( data-region='St-Petersburg_City')
                     .project__region_number 3
                     | город Санкт-Петербург
                  div( data-region='Leningradskaya_Oblast')
                     .project__region_number 4
                     | Ленинградская область
                  div( data-region='Bashkortostan_Republic')
                     .project__region_number 5
                     | Республика Башкортостан
                  div( data-region='North_Ossetia_Republic')
                     .project__region_number 6
                     | Республика Северная Осетия-Алания
                  div( data-region='Kaluga_Oblast')
                     .project__region_number 7
                     | Калужская область
                  div( data-region='Ryazan_Oblast')
                     .project__region_number 8
                     | Рязанская область
                  div( data-region='Orel_Oblast')
                     .project__region_number 9
                     | Орловская область
                  div( data-region='Kaliningrad_Oblast')
                     .project__region_number 10
                     | Калининградская область
                  div( data-region='Khabarovsk_Krai')
                     .project__region_number 11
                     | Хабаровский край
                  div( data-region='Volgograd_Oblast')
                     .project__region_number 12
                     | Волгоградская область
                  div( data-region='Dagestan_Republic')
                     .project__region_number 13
                     | Республика Дагестан
                  div( data-region='Tuva_Republic')
                     .project__region_number 14
                     | Республика Тыва
                  div( data-region='Buryatiya_Republic')
                     .project__region_number 15
                     | Республика Бурятия
                  div( data-region='Voronezj_Oblast')
                     .project__region_number 16
                     | Воронежская область
                  div( data-region='Moscow_City')
                     .project__region_number 17
                     | город Москва
                  div( data-region='Rostov_Oblast')
                     .project__region_number 18
                     | Ростовская область
                  div( data-region='Vladimir_Oblast')
                     .project__region_number 19
                     | Владимирская область
                  div( data-region='Nizhny_Novgorod_Oblast')
                     .project__region_number 20
                     | Нижегородская область

      script( src='./assets/js/jquery.js' )
      script( src='./assets/js/work.js' )
