doctype
html( lang='ru' )

   include assets/jade/static/header

   body
      main.projects.body-wrapper.project-is
         .wrapper
            .project__link_container
               .project__link
                  span Все проекты
                  i.icon-arrow
            header.project__header_container
               h1.publications-detailed__title.publications-detailed__title-is Стажировочные
                  br
                  | площадки
            .project__info_container
               .project__info
                  h2.project-detailed__title__text.project-detailed__title__text-is.mb-4  Информация о&nbsp;проекте
                  p Цель стажировочной площадки&nbsp;&mdash; поддержка управленцев в&nbsp;
                     span.ml1 сфере
                     |  образования, распространение в&nbsp;
                     span.ml1 субъектах
                     |  Российской Федерации лучших управленческих практик.

            .project__tasks_container
               h2.project-detailed__title__text.project-detailed__title__text-is.mb-5 Основные задачи
               .project__tasks_holder
                  .project__item
                     i.icon-task.icon-task-1
                     p методическая и&nbsp;
                        span.ml1 консультационная
                        |  поддержка управленцев в&nbsp;
                        span.ml1 сфере
                        |  образования (государственные и&nbsp;
                        span.ml1 муниципальные
                        |  служащие органов управления образованием)
                  .project__item
                     i.icon-task.icon-task-2
                     p тиражирование позитивного опыта и&nbsp;
                        span.ml1 лучших
                        |  управленческих практик, нацеленных на&nbsp;
                        span.ml1 решение
                        |  конкретных управленческих задач
                  .project__item
                     i.icon-task.icon-task-3
                     p обобщение и&nbsp;
                        span.ml1 распространение
                        |  опыта стажировочной площадки с&nbsp;
                        span.ml1 целью
                        |  формирования и&nbsp;
                        span.ml1 развития
                        |  региональных и&nbsp;
                        span.ml1 муниципальных
                        |  систем управления образованием
                  .project__item
                     i.icon-task.icon-task-4
                     p проведение совместных мероприятий (вебинаров, семинаров, конференций, круглых столов)

            .project__calendar_container
               h2.project-detailed__title__text.project-detailed__title__text-is.mb-3 Календарь мероприятий
               .relation
               .project__calendar_holder
                  iframe(src="https://calendar.yandex.ru/embed/month?&layer_ids=23034565, 23977584, 23210247, 23210257, 23210859, 23210760, 23210790, 23210727, 23210690, 23210563, 23210797, 23210881, 23210719, 23210613, 23210773, 23210765, 23210671, 23210769, 23210833,  23210704, 23210516, 24633691, 26174121, 25534503, 23210748&tz… мероприятий" width='100%' height='100%' frameborder='0' style='border: 1px solid #eee')

            .project__map_container
               h2.project-detailed__title__text.project-detailed__title__text-is.mb-4 Интерактивная карта стажировочных площадок
               .project__map_holder
                  .map
                     .project__map_img
                     #Irkutsk_Oblast.region.region-info 38
                     #Belgorod_Oblast.region 31
                     #St-Petersburg_City.region 78
                     #Leningradskaya_Oblast.region.region-info 47
                     #Bashkortostan_Republic.region.region-info 02
                     #North_Ossetia_Republic.region 15
                     #Kaluga_Oblast.region.region-info 40
                     #Ryazan_Oblast.region.region-info 62
                     #Orel_Oblast.region.region-info 57
                     #Kaliningrad_Oblast.region 39
                     #Khabarovsk_Krai.region.region-info 27
                     #Volgograd_Oblast.region 34
                     #Dagestan_Republic.region 05
                     #Tuva_Republic.region 17
                     #Buryatiya_Republic.region.region-info 03
                     #Voronezj_Oblast.region.region-info 36
                     #Moscow_City.region.region-info 77
                     #Rostov_Oblast.region.region-info 61
                     #Vladimir_Oblast.region.region-info 33
                     #Nizhny_Novgorod_Oblast.region 52
                     #Sverdlovsk_Oblast.region 66
                     #LNR.region 81
                     #Yaroslavl_Oblast.region 76
                     #Novgorod_Oblast.region 53
                     #Yakutia.region 14

                  #card_big-Irkutsk_Oblast.project__region_holder.card_Irkutsk_Oblast
                     h3 Иркутская область
                     .project__region_info
                        .region__info-name Центр развития инновационного опыта и&nbsp;
                           span.ml1 конкурсного
                           |  движения
                        a( href="tel:+73952500904" ).region__info
                           i.icon-phone
                           | 8&nbsp;(3952)&nbsp;500-904 (внутр.&nbsp;257)
                        a( href="mailto:i.peshnya@iro38.ru").region__info
                           i.icon-mail
                           | i.peshnya@iro38.ru
                        a( href="https://calendar.yandex.ru/embed/week?&layer_ids=23210247&tz_id=Europe/Moscow&layer_names=Иркутская область" target='_blank').region__info.mt-2
                           i.icon-calendar
                           | Мероприятия 2023 года
                  #card_big-Belgorod_Oblast.project__region_holder.card_Belgorod_Oblast
                     h3 Белгородская область
                     .project__region_info
                        .region__info-name ОГАОУ ДПО &laquo;Белгородский институт развития образования&raquo;
                        a( href="tel:+74722315670" ).region__info
                           i.icon-phone
                           | 8&nbsp;(4722)&nbsp;31-56-70
                        a( href="mailto:nikulina_ev@beliro.ru").region__info
                           i.icon-mail
                           | nikulina_ev@beliro.ru
                        a( href="https://calendar.yandex.ru/embed/week?&layer_ids=23210257&tz_id=Europe/Moscow&layer_names=Белгородская область" target='_blank').region__info.mt-2
                           i.icon-calendar
                           | Мероприятия 2023 года
                  #card_big-St-Petersburg_City.project__region_holder.card_St-Petersburg_City
                     h3 Город Санкт-Петербург
                     .project__region_info
                        .region__info-name ЦНППМ СПб АППО
                        a( href="tel:+78124425612" ).region__info
                           i.icon-phone
                           | 8&nbsp;(812)&nbsp;442-56-12
                        a( href="mailto:vinogradov@spbappo.ru").region__info
                           i.icon-mail
                           | vinogradov@spbappo.ru
                        a( href="https://calendar.yandex.ru/embed/week?&layer_ids=23210516&tz_id=Europe/Moscow&layer_names=Санкт-Петербург" target='_blank').region__info.mt-2
                           i.icon-calendar
                           | Мероприятия 2023 года
                  #card_big-Leningradskaya_Oblast.project__region_holder.card_Leningradskaya_Oblast
                     h3 Ленинградская область
                     .project__region_info
                        .region__info-name ЦНППМ ГАОУ ДПО &laquo;Ленинградский областной институт развития образования&raquo;
                        a( href="tel:+78123725039w304" ).region__info
                           i.icon-phone
                           | 8&nbsp;(812)&nbsp;372-50-39 (доб.&nbsp;304)
                        a( href="mailto:firsova@loiro.ru").region__info
                           i.icon-mail
                           | firsova@loiro.ru
                        a( href="https://calendar.yandex.ru/embed/week?&layer_ids=23210563&tz_id=Europe/Moscow&layer_names=Ленинградская область " target='_blank').region__info.mt-2
                           i.icon-calendar
                           | Мероприятия 2023 года
                  #card_big-Bashkortostan_Republic.project__region_holder.card_Bashkortostan_Republic
                     h3 Республика Башкортостан
                     .project__region_info
                        .region__info-name &laquo;Центр непрерывного повышения профессионального мастерства педагогических работников&raquo;, &laquo;Институт развития образования Республики Башкортостан&raquo;
                        a( href="tel:+73472357233" ).region__info
                           i.icon-phone
                           | 8&nbsp;(347)&nbsp;235-72-33
                        a( href="mailto:magpos@mail.ru").region__info
                           i.icon-mail
                           | magpos@mail.ru
                        a( href="https://calendar.yandex.ru/embed/week?&layer_ids=23210613&tz_id=Europe/Moscow&layer_names=Республика Башкортостан" target='_blank').region__info.mt-2
                           i.icon-calendar
                           | Мероприятия 2023 года
                  #card_big-North_Ossetia_Republic.project__region_holder.card_North_Ossetia_Republic
                     h3 Республика Северная Осетия-Алания
                     .project__region_info
                        .region__info-name ГБОУ ДПО &laquo;Северо-Осетинский республиканский институт повышения квалификации работников образования&raquo;
                        a( href="tel:+78672536238" ).region__info
                           i.icon-phone
                           | 8&nbsp;(8672)&nbsp;53-62-38
                        a( href="mailto:soripkro@mail.ru").region__info
                           i.icon-mail
                           | soripkro@mail.ru
                        a( href="https://calendar.yandex.ru/embed/week?&layer_ids=23210671&tz_id=Europe/Moscow&layer_names=Республика Северная Осетия-Алания" target='_blank').region__info.mt-2
                           i.icon-calendar
                           | Мероприятия 2023 года
                  #card_big-Kaluga_Oblast.project__region_holder.card_Kaluga_Oblast
                     h3 Калужская область
                     .project__region_info
                        .region__info-name ГАУО ДПО &laquo;Калужский государственный институт развития образования&raquo;
                        a( href="tel:+74842547711" ).region__info
                           i.icon-phone
                           | 8&nbsp;(4842)&nbsp;54-77-11
                        a( href="mailto:kgimo@mail.ru").region__info
                           i.icon-mail
                           | kgimo@mail.ru
                        a( href="https://calendar.yandex.ru/embed/week?&layer_ids=23210690&tz_id=Europe/Moscow&layer_names=Калужская область" target='_blank').region__info.mt-2
                           i.icon-calendar
                           | Мероприятия 2023 года
                  #card_big-Ryazan_Oblast.project__region_holder.card_Ryazan_Oblast
                     h3 Рязанская область
                     .project__region_info
                        .region__info-name ОГБУ ДПО &laquo;Рязанский институт развития образования&raquo;
                        a( href="tel:+74912446392" ).region__info
                           i.icon-phone
                           | 8&nbsp;(4912)&nbsp;44-63-92
                        a( href="mailto:riro@ryazangov.ru").region__info
                           i.icon-mail
                           | riro@ryazangov.ru
                        a( href="https://calendar.yandex.ru/embed/week?&layer_ids=23210704&" target='_blank').region__info.mt-2
                           i.icon-calendar
                           | Мероприятия 2023 года
                  #card_big-Orel_Oblast.project__region_holder.card_Orel_Oblast
                     h3 Орловская область
                     .project__region_info
                        .region__info-name Отдел специального образования управления региональной образовательной политики Департамента образования Орловской области
                        a( href="tel:+74862598524" ).region__info
                           i.icon-phone
                           | 8&nbsp;(4862)&nbsp;59-85-24
                        a( href="mailto:mna@adm.orel.ru").region__info
                           i.icon-mail
                           | mna@adm.orel.ru
                        a( href="https://calendar.yandex.ru/embed/week?&layer_ids=23210719&tz_id=Europe/Moscow&layer_names=Орловская область" target='_blank').region__info.mt-2
                           i.icon-calendar
                           | Мероприятия 2023 года
                  #card_big-Kaliningrad_Oblast.project__region_holder.card_Kaliningrad_Oblast
                     h3 Калининградская область
                     .project__region_info
                        .region__info-name Калининградский областной институт развития образования
                        a( href="tel:+74012578314" ).region__info
                           i.icon-phone
                           | 8&nbsp;(4012)&nbsp;57-83-14
                        a( href="mailto:n.milyavskaya@koiro.edu.ru").region__info
                           i.icon-mail
                           | n.milyavskaya@koiro.edu.ru
                        a( href="https://calendar.yandex.ru/embed/week?&layer_ids=23210727&tz_id=Europe/Moscow&layer_names=Калининградская область" target='_blank').region__info.mt-2
                           i.icon-calendar
                           | Мероприятия 2023 года
                  #card_big-Khabarovsk_Krai.project__region_holder.card_Khabarovsk_Krai
                     h3 Хабаровский край
                     .project__region_info
                        .region__info-name КГАОУ ДПО &laquo;Хабаровский краевой институт развития образования&raquo;
                        a( href="tel:+74212470116" ).region__info
                           i.icon-phone
                           | 8&nbsp;(4212)&nbsp;47-01-16
                        a( href="mailto:khmara@profobr27.ru").region__info
                           i.icon-mail
                           | khmara@profobr27.ru
                        a( href="https://calendar.yandex.ru/embed/week?&layer_ids=23210748&tz_id=Europe/Moscow&layer_names=Хабаровский край" target='_blank').region__info.mt-2
                           i.icon-calendar
                           | Мероприятия 2023 года
                  #card_big-Volgograd_Oblast.project__region_holder.card_Volgograd_Oblast
                     h3 Волгоградская область
                     .project__region_info
                        .region__info-name ГАУ ДПО &laquo;Волгоградская государственная академия последипломного образования&raquo; (ГАУ ДПО "ВГАПО")
                        a( href="tel:+78442606648" ).region__info
                           i.icon-phone
                           | 8&nbsp;(8442)&nbsp;606-648
                        a( href="mailto:centrsip@yandex.ru").region__info
                           i.icon-mail
                           | centrsip@yandex.ru
                        a( href="https://calendar.yandex.ru/embed/week?&layer_ids=23210760&tz_id=Europe/Moscow&layer_names=Волгоградская область" target='_blank').region__info.mt-2
                           i.icon-calendar
                           | Мероприятия 2023 года
                  #card_big-Dagestan_Republic.project__region_holder.card_Dagestan_Republic
                     h3 Республика Дагестан
                     .project__region_info
                        .region__info-name Центр развития общего образования ГБУ ДПО РД &laquo;Дагестанский институт развития образования&raquo;
                        a( href="tel:+79288677037" ).region__info
                           i.icon-phone
                           | 8&nbsp;(928)&nbsp;867-70-37
                        a( href="mailto:magaramovasha@dagiro.ru").region__info
                           i.icon-mail
                           | magaramovasha@dagiro.ru
                        a( href="https://calendar.yandex.ru/embed/week?&layer_ids=23210765&tz_id=Europe/Moscow&layer_names=Республика Дагестан" target='_blank').region__info.mt-2
                           i.icon-calendar
                           | Мероприятия 2023 года
                  #card_big-Tuva_Republic.project__region_holder.card_Tuva_Republic
                     h3 Республика Тыва
                     .project__region_info
                        .region__info-name ГАОУ ДПО &laquo;Тувинский институт развития образования и повышения квалификации&raquo;
                        a( href="tel:+73942223546" ).region__info
                           i.icon-phone
                           | 8&nbsp;(39422)&nbsp;2-35-46
                        a( href="mailto:ipk-tuva@mail.ru").region__info
                           i.icon-mail
                           | ipk-tuva@mail.ru
                        a( href="https://calendar.yandex.ru/embed/week?&layer_ids=23210769&tz_id=Europe/Moscow&layer_names=Республика Тыва" target='_blank').region__info.mt-2
                           i.icon-calendar
                           | Мероприятия 2023 года
                  #card_big-Buryatiya_Republic.project__region_holder.card_Buryatiya_Republic
                     h3 Республика Бурятия
                     .project__region_info
                        .region__info-name Отдел дошкольного и&nbsp;
                           span.ml1 общего
                           |  образования Минобрнауки Республики Бурятия
                        a( href="tel:+73012213597" ).region__info
                           i.icon-phone
                           | 8&nbsp;(3012)&nbsp;21-35-97
                        a( href="mailto:minobr@govrb.ru").region__info
                           i.icon-mail
                           | minobr@govrb.ru
                        a( href="https://calendar.yandex.ru/embed/week?&layer_ids=23210773&tz_id=Europe/Moscow&layer_names=Республика Бурятия" target='_blank').region__info.mt-2
                           i.icon-calendar
                           | Мероприятия 2023 года
                  #card_big-Voronezj_Oblast.project__region_holder.card_Voronezj_Oblast
                     h3 Воронежская область
                     .project__region_info
                        .region__info-name Воронежский институт развития образования им.&nbsp;
                           span.ml1 Н.Ф.&nbsp;Бунакова
                        a( href="tel:+74732354891" ).region__info
                           i.icon-phone
                           | 8&nbsp;(473)&nbsp;235-48-91
                        a( href="mailto:tvk@virovrn.ru").region__info
                           i.icon-mail
                           | tvk@virovrn.ru
                        a( href="https://calendar.yandex.ru/embed/week?&layer_ids=23210790&tz_id=Europe/Moscow&layer_names=Воронежская область" target='_blank').region__info.mt-2
                           i.icon-calendar
                           | Мероприятия 2023 года
                  #card_big-Moscow_City.project__region_holder.card_Moscow_City
                     h3 Город Москва
                     .project__region_info
                        .region__info-name Корпоративный университет московского образования
                        a( href="tel:+74999777265" ).region__info
                           i.icon-phone
                           | 8&nbsp;(499)&nbsp;977-72-65
                        a( href="mailto:MisozhnikovaEB@edu.mos.ru").region__info
                           i.icon-mail
                           | MisozhnikovaEB@edu.mos.ru
                        a( href="https://calendar.yandex.ru/embed/week?&layer_ids=23210797&tz_id=Europe/Moscow&layer_names=Москва" target='_blank').region__info.mt-2
                           i.icon-calendar
                           | Мероприятия 2023 года
                  #card_big-Rostov_Oblast.project__region_holder.card_Rostov_Oblast
                     h3 Ростовская область
                     .project__region_info
                        .region__info-name ГБУ ДПО РО &laquo;Ростовский институт повышения квалификации и&nbsp;профессиональной переподготовки работников образования&raquo;
                        a( href="tel:+78633076037" ).region__info
                           i.icon-phone
                           | 8&nbsp;(863)&nbsp;307-60-37
                        a( href="mailto:Institut@roipkpro.ru ").region__info
                           i.icon-mail
                           | Institut@roipkpro.ru
                        a( href="https://calendar.yandex.ru/embed/week?&layer_ids=23210833&tz_id=Europe/Moscow&layer_names=Ростовская область" target='_blank').region__info.mt-2
                           i.icon-calendar
                           | Мероприятия 2023 года
                  #card_big-Vladimir_Oblast.project__region_holder.card_Vladimir_Oblast
                     h3 Владимирская область
                     .project__region_info
                        .region__info-name ГБУ ВО &laquo;Региональный информационно&ndash;аналитический центр оценки качества образования&raquo;
                        a( href="tel:+74922777692" ).region__info
                           i.icon-phone
                           | 8&nbsp;(4922)&nbsp;77-76-92
                        a( href="mailto:analitika@riacoko33.ru").region__info
                           i.icon-mail
                           | analitika@riacoko33.ru
                        a( href="https://calendar.yandex.ru/embed/week?&layer_ids=23210859&tz_id=Europe/Moscow&layer_names=Владимирская область" target='_blank').region__info.mt-2
                           i.icon-calendar
                           | Мероприятия 2023 года
                  #card_big-Nizhny_Novgorod_Oblast.project__region_holder.card_Nizhny_Novgorod_Oblast
                     h3 Нижегородская область
                     .project__region_info
                        .region__info-name ГБОУ ДПО &laquo;Нижегородский институт развития образования&raquo;
                        a( href="tel:+78314177700" ).region__info
                           i.icon-phone
                           | 8&nbsp;(831)&nbsp;417-77-00
                        a( href="mailto:makhov@niro.nnov.ru").region__info
                           i.icon-mail
                           | makhov@niro.nnov.ru
                        a( href="https://calendar.yandex.ru/embed/week?&layer_ids=23210881&tz_id=Europe/Moscow&layer_names=Нижегородская область " target='_blank').region__info.mt-2
                           i.icon-calendar
                           | Мероприятия 2023 года
                  #card_big-Sverdlovsk_Oblast.project__region_holder.card_Sverdlovsk_Oblast
                     h3 Свердловская область
                     .project__region_info
                        .region__info-name ГАОУ ДПО Свердловской области &laquo;Институт развития образования&raquo;
                        a( href="tel:+73433692986" ).region__info
                           i.icon-phone
                           | 8&nbsp;(343)&nbsp;369-29-86
                        a( href="mailto:irro@irro.ru").region__info
                           i.icon-mail
                           | irro@irro.ru
                        a( href="https://calendar.yandex.ru/embed/month?&layer_ids=23977584&tz_id=Europe/Moscow&layer_names=Свердловская область" target='_blank').region__info.mt-2
                           i.icon-calendar
                           | Мероприятия 2023 года
                  #card_big-LNR.project__region_holder.card_LNR
                     h3 Луганская Народная Республика
                     .project__region_info
                        .region__info-name Министерство образования и&nbsp;науки Луганской Народной Республики
                        a.region__info
                           i.icon-phone
                           | (022)&nbsp;50-84-30
                        a( href="mailto:digital@edu.lpr-reg.ru").region__info
                           i.icon-mail
                           | digital@edu.lpr-reg.ru
                        a( href="https://calendar.yandex.ru/embed/month?&layer_ids=24633691&tz_id=Europe/Moscow&layer_names=Луганская Народная Республика" target='_blank').region__info.mt-2
                           i.icon-calendar
                           | Мероприятия 2023 года

                  #card_big-Yaroslavl_Oblast.project__region_holder.card_Yaroslavl_Oblast
                     h3 Ярославская область
                     .project__region_info
                        .region__info-name ГАУ ДПО Ярославской области &laquo;Институт развития образования&raquo;
                        a( href="tel:+74852230274" ).region__info
                           i.icon-phone
                           | 8&nbsp;(4852)&nbsp;23-02-74
                        a( href="mailto:serafimovich@iro.yar.ru").region__info
                           i.icon-mail
                           | serafimovich@iro.yar.ru
                        a( href="mailto:yar.iro@yarregion.ru").region__info
                           i.icon-mail
                           | yar.iro@yarregion.ru
                        a( href="https://calendar.yandex.ru/embed/month?&layer_ids=25534503&tz_id=Europe/Moscow&layer_names=Ярославская область" target='_blank').region__info.mt-2
                           i.icon-calendar
                           | Мероприятия 2023 года

                  #card_big-Novgorod_Oblast.project__region_holder.card_Novgorod_Oblast
                     h3 Новгородская область
                     .project__region_info
                        .region__info-name Министерство образования Новгородской области
                        a( href="tel:+78162501061" ).region__info
                           i.icon-phone
                           | 8&nbsp;(8162)&nbsp;50-10-61
                        a( href="mailto:e.garkavenko@edu53.ru").region__info
                           i.icon-mail
                           | e.garkavenko@edu53.ru
                        a( href="https://calendar.yandex.ru/embed/month?&layer_ids=26174121&tz_id=Europe/Moscow&layer_names=Новгородская область" target='_blank').region__info.mt-2
                           i.icon-calendar
                           | Мероприятия 2023 года
                  #card_big-Yakutia.project__region_holder.card_Yakutia
                     h3 Новгородская область
                     .project__region_info
                        .region__info-name Министерство образования Новгородской области
                        a( href="tel:+78162501061" ).region__info
                           i.icon-phone
                           | 8&nbsp;(8162)&nbsp;50-10-61
                        a( href="mailto:e.garkavenko@edu53.ru").region__info
                           i.icon-mail
                           | e.garkavenko@edu53.ru
                        a( href="https://calendar.yandex.ru/embed/month?&layer_ids=26174121&tz_id=Europe/Moscow&layer_names=Новгородская область" target='_blank').region__info.mt-2
                           i.icon-calendar
                           | Мероприятия 2023 года

               .project__region_names
                  div( data-region='Irkutsk_Oblast')
                     .project__region_number 38
                     | Иркутская область
                  div( data-region='Belgorod_Oblast')
                     .project__region_number 31
                     | Белгородская область
                  div( data-region='St-Petersburg_City')
                     .project__region_number 78
                     | Город Санкт-Петербург
                  div( data-region='Leningradskaya_Oblast')
                     .project__region_number 47
                     | Ленинградская область
                  div( data-region='Bashkortostan_Republic')
                     .project__region_number 02
                     | Республика Башкортостан
                  div( data-region='North_Ossetia_Republic')
                     .project__region_number 15
                     | Республика Северная Осетия-Алания
                  div( data-region='Kaluga_Oblast')
                     .project__region_number 40
                     | Калужская область
                  div( data-region='Ryazan_Oblast')
                     .project__region_number 62
                     | Рязанская область
                  div( data-region='Orel_Oblast')
                     .project__region_number 57
                     | Орловская область
                  div( data-region='Kaliningrad_Oblast')
                     .project__region_number 39
                     | Калининградская область
                  div( data-region='Khabarovsk_Krai')
                     .project__region_number 27
                     | Хабаровский край
                  div( data-region='Volgograd_Oblast')
                     .project__region_number 34
                     | Волгоградская область
                  div( data-region='Dagestan_Republic')
                     .project__region_number 05
                     | Республика Дагестан
                  div( data-region='Tuva_Republic')
                     .project__region_number 17
                     | Республика Тыва
                  div( data-region='Buryatiya_Republic')
                     .project__region_number 03
                     | Республика Бурятия
                  div( data-region='Voronezj_Oblast')
                     .project__region_number 36
                     | Воронежская область
                  div( data-region='Moscow_City')
                     .project__region_number 77
                     | Город Москва
                  div( data-region='Rostov_Oblast')
                     .project__region_number 61
                     | Ростовская область
                  div( data-region='Vladimir_Oblast')
                     .project__region_number 33
                     | Владимирская область
                  div( data-region='Nizhny_Novgorod_Oblast')
                     .project__region_number 52
                     | Нижегородская область
                  div( data-region='Sverdlovsk_Oblast')
                     .project__region_number 66
                     | Свердловская область
                  div( data-region='LNR')
                     .project__region_number 81
                     | Луганская Народная Республика
                  div( data-region='Yaroslavl_Oblast')
                     .project__region_number 76
                     | Ярославская область
                  div( data-region='Novgorod_Oblast')
                     .project__region_number 53
                     | Новгородская область
                  div( data-region='Yakutia')
                     .project__region_number 14
                     | Yakutia

      script( src='./assets/js/jquery.js' )
      script( src='./assets/js/work.js' )
