.fullscreen-menu_inactive {
   z-index: 250;
}

.content {
   padding-bottom: 0;
}

.wrapper {
   width: 100%;
   overflow: inherit;
}

.project__link_container {
   position: absolute;
   top: 0;
   right: 0;
   width: 85%;
   height: 490px + 50px;
   background-color: #153C7A;;
   
   margin-left: auto;
   padding: 15px 30px 0;
   box-sizing: border-box;
   
}

.project__link {
   .flex();
   .justify-end();
   .items-center();
   color: white;
   cursor: pointer;
   .tr();
}

.project__link:hover {
   color: #9874FE;
   //color: #7897ca;
   .tr();
}

.project__link:hover .icon-arrow {
   .icon-arrow-hover();
   margin-left: 8px;
   .tr();
}

.icon-arrow {
   .icon-arrow();
   width: 7px;
   height: 16px;
   margin-left: 10px;
   .tr();
}

header.project__header_container {
   position: relative;
   //z-index: 100;
   width: 100%;
   height: 490px;
   
   margin-right: 30px;
   margin-top: 55px;
   padding: 45px 60px;
   box-sizing: border-box;
   .header();
}

header.project__header_container:before {
   content: '';
   position: absolute;
   z-index: 400;
   display: block;
   bottom: -60px;
   right: -6px;
   width: 50%;
   height: 215px;
   .build()
}

.project__info_container,
.project__tasks_container,
.project__calendar_container,
.project__map_container {
   position: relative;
   z-index: 200;
   width: 100%;
   margin-top: 130px;
}

.project__map_container {
   margin-top: 100px;
}

.project__info_container:before {
   content: '';
   position: absolute;
   display: block;
   bottom: -40%;
   left: 0;
   width: 80%;
   height: 815px;
   .info()
}

.project-detailed__title__text.project-detailed__title__text-is {
   width: 75%;
}

.project__info {
   width: 50%;
   min-width: 300px;
   margin-left: auto;
}

.project__tasks_container p {
   margin-bottom: 0;
}

.project__tasks_holder {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   grid-gap: 20px;
}

.project__item {
   .flex();
   .items-center();
}

.icon-task {
   width: 35%;
   min-width: 150px;
   height: 100%;
   margin-right: 20px;
}

.icon-task-1 { .task-1() }
.icon-task-2 {
   .task-2();
   height: 120%;
   width: 45%;
   //min-width: 180px;
}
.icon-task-3 { .task-3() }
.icon-task-4 {
   .task-4();
   height: 90px;
}

.project__item p {
   flex-grow: 1;
}


.project__calendar_container {
   position: relative;
   z-index: 100;
   width: 100%;
   background: linear-gradient(104.66deg, #7371DC 9.18%, rgba(115, 113, 220, 0) 60.37%), #437FEC;
   
   box-sizing: border-box;
   padding-top: 180px;
   margin-top: 160px;
}

.project__calendar_container .project-detailed__title__text-is {
   width: 100%;
   text-align: center;
   color: white;
}

.project__calendar_container:before {
   content: '';
   display: block;
   position: absolute;
   width: 510px;
   max-width: 60%;
   min-width: 300px;
   height: 247px;
   left: 30px;
   top: -85px;
   .calendar();
}

.relation {
   min-height: 800px;
   padding-top: 56%;
}

.project__calendar_holder {
   position: absolute;
   top: 300px;
   right: 150px;
   bottom: 80px;
   left: 150px;
}

.project__map_container h2.project-detailed__title__text.project-detailed__title__text-is {
   width: 60%;
}

.project__map_holder {
   .flex();
   .justify-center();
   width: 100%;
}
.project__map_holder {
   position: relative;
}
.project__map_holder .map {
   position: relative;
   width: 100%;
   height: 750px;
   .map();
}

.region {
   .flex-center();
   position: absolute;
   z-index: 300;
   width: 24px;
   height: 24px;
   
   background-color: #4d2aab;
   //border: 1px solid #897dd9;
   box-shadow: 0 0 2px 1px #897dd9;
   border-radius: 50px;
   color: white;
   
   cursor: pointer;
   opacity: 1;
   .tr();
}

.region:hover {
   box-shadow: 0 0 5px 1px #897dd9;
   .tr();
}

.region_hide {
   opacity: 0;
   transition: opacity .1s ease-in-out;
}

.project__map_img {
   position: absolute;
   z-index: -1;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   
   .tr();
}

.Irkutsk_Oblast { .Irkutsk_Oblast(); }
.Belgorod_Oblast { .Belgorod_Oblast(); }
.St-Petersburg_City { .St-Petersburg_City(); }
.Leningradskaya_Oblast { .Leningradskaya_Oblast(); }
.Bashkortostan_Republic { .Bashkortostan_Republic(); }
.North_Ossetia_Republic { .North_Ossetia_Republic(); }
.Kaluga_Oblast { .Kaluga_Oblast(); }
.Ryazan_Oblast { .Ryazan_Oblast(); }
.Orel_Oblast { .Orel_Oblast(); }
.Kaliningrad_Oblast { .Kaliningrad_Oblast(); }
.Khabarovsk_Krai { .Khabarovsk_Krai(); }
.Volgograd_Oblast { .Volgograd_Oblast(); }
.Dagestan_Republic { .Dagestan_Republic(); }
.Tuva_Republic { .Tuva_Republic(); }
.Buryatiya_Republic { .Buryatiya_Republic(); }
.Voronezj_Oblast { .Voronezj_Oblast(); }
.Moscow_City { .Moscow_City(); }
.Rostov_Oblast { .Rostov_Oblast(); }
.Vladimir_Oblast { .Vladimir_Oblast(); }
.Nizhny_Novgorod_Oblast { .Nizhny_Novgorod_Oblast(); }
.Sverdlovsk_Oblast { .Sverdlovsk_Oblast(); }
.LNR { .LNR(); }
.Yaroslavl_Oblast { .Yaroslavl_Oblast(); }
.Novgorod_Oblast { .Novgorod_Oblast(); }

:root {
   --Irkutsk_Oblast-top: 0px;
   --Irkutsk_Oblast-left: 0px;
   
   --Belgorod_Oblast-top: 0px;
   --Belgorod_Oblast-left: 0px;
   
   --St-Petersburg_City-top: 0px;
   --St-Petersburg_City-left: 0px;
   
   --Leningradskaya_Oblast-top: 0px;
   --Leningradskaya_Oblast-left: 0px;
   
   --Bashkortostan_Republic-top: 0px;
   --Bashkortostan_Republic-left: 0px;
   
   --North_Ossetia_Republic-top: 0px;
   --North_Ossetia_Republic-left: 0px;
   
   --Kaluga_Oblast-top: 0px;
   --Kaluga_Oblast-left: 0px;
   
   --Ryazan_Oblast-top: 0px;
   --Ryazan_Oblast-left: 0px;
   
   --Orel_Oblast-top: 0px;
   --Orel_Oblast-left: 0px;
   
   --Kaliningrad_Oblast-top: 0px;
   --Kaliningrad_Oblast-left: 0px;
   
   --Khabarovsk_Krai-top: 0px;
   --Khabarovsk_Krai-left: 0px;
   
   --Volgograd_Oblast-top: 0px;
   --Volgograd_Oblast-left: 0px;
   
   --Dagestan_Republic-top: 0px;
   --Dagestan_Republic-left: 0px;
   
   --Tuva_Republic-top: 0px;
   --Tuva_Republic-left: 0px;
   
   --Buryatiya_Republic-top: 0px;
   --Buryatiya_Republic-left: 0px;
   
   --Voronezj_Oblast-top: 0px;
   --Voronezj_Oblast-left: 0px;
   
   --Moscow_City-top: 0px;
   --Moscow_City-left: 0px;
   
   --Rostov_Oblast-top: 0px;
   --Rostov_Oblast-left: 0px;
   
   --Vladimir_Oblast-top: 0px;
   --Vladimir_Oblast-left: 0px;
   
   --Nizhny_Novgorod_Oblast-top: 0px;
   --Nizhny_Novgorod_Oblast-left: 0px;
   
   --Sverdlovsk_Oblast-top: 0px;
   --Sverdlovsk_Oblast-left: 0px;
   
   --LNR-top: 0px;
   --LNR-left: 0px;
   
   --Yaroslavl_Oblast-top: 0px;
   --Yaroslavl_Oblast-left: 0px;
   
   --Novgorod_Oblast-top: 0px;
   --Novgorod_Oblast-left: 0px;
   
}

#Irkutsk_Oblast {
   top: calc(540px - var(--Irkutsk_Oblast-top));
   left: calc(720px - var(--Irkutsk_Oblast-left));
}
#Belgorod_Oblast {
   top: calc(455px - var(--Belgorod_Oblast-top));
   left: calc(100px - var(--Belgorod_Oblast-left));
}
#St-Petersburg_City {
   top: calc(295px - var(--St-Petersburg_City-top));
   left: calc(160px - var(--St-Petersburg_City-left));
}
#Leningradskaya_Oblast {
   top: calc(320px - var(--Leningradskaya_Oblast-top));
   left: calc(180px - var(--Leningradskaya_Oblast-left));
}
#Bashkortostan_Republic {
   top: calc(510px - var(--Bashkortostan_Republic-top));
   left: calc(280px - var(--Bashkortostan_Republic-left));
}
#North_Ossetia_Republic {
   top: calc(600px - var(--North_Ossetia_Republic-top));
   left: calc(75px - var(--North_Ossetia_Republic-left));
}
#Kaluga_Oblast {
   top: calc(390px - var(--Kaluga_Oblast-top));
   left: calc(120px - var(--Kaluga_Oblast-left));
}
#Ryazan_Oblast {
   top: calc(430px - var(--Ryazan_Oblast-top));
   left: calc(160px - var(--Ryazan_Oblast-left));
}
#Orel_Oblast {
   top: calc(420px - var(--Orel_Oblast-top));
   left: calc(120px - var(--Orel_Oblast-left));
}
#Kaliningrad_Oblast {
   top: calc(285px - var(--Kaliningrad_Oblast-top));
   left: calc(45px - var(--Kaliningrad_Oblast-left));
}
#Khabarovsk_Krai {
   top: calc(420px - var(--Khabarovsk_Krai-top));
   left: calc(970px - var(--Khabarovsk_Krai-left));
}
#Volgograd_Oblast {
   top: calc(510px - var(--Volgograd_Oblast-top));
   left: calc(140px - var(--Volgograd_Oblast-left));
}
#Dagestan_Republic {
   top: calc(630px - var(--Dagestan_Republic-top));
   left: calc(100px - var(--Dagestan_Republic-left));
}
#Tuva_Republic {
   top: calc(630px - var(--Tuva_Republic-top));
   left: calc(655px - var(--Tuva_Republic-left));
}
#Buryatiya_Republic {
   top: calc(550px - var(--Buryatiya_Republic-top));
   left: calc(800px - var(--Buryatiya_Republic-left));
}
#Voronezj_Oblast {
   top: calc(470px - var(--Voronezj_Oblast-top));
   left: calc(120px - var(--Voronezj_Oblast-left));
}
#Moscow_City {
   top: calc(390px - var(--Moscow_City-top));
   left: calc(155px - var(--Moscow_City-left));
}
#Rostov_Oblast {
   top: calc(520px - var(--Rostov_Oblast-top));
   left: calc(93px - var(--Rostov_Oblast-left));
}
#Vladimir_Oblast {
   top: calc(400px - var(--Vladimir_Oblast-top));
   left: calc(185px - var(--Vladimir_Oblast-left));
}
#Nizhny_Novgorod_Oblast {
   top: calc(430px - var(--Nizhny_Novgorod_Oblast-top));
   left: calc(205px - var(--Nizhny_Novgorod_Oblast-left));
}
#Sverdlovsk_Oblast {
    top: calc(470px - var(--Sverdlovsk_Oblast-top));
    left: calc(360px - var(--Sverdlovsk_Oblast-left));
}
#LNR {
    top: calc(485px - var(--LNR-top));
    left: calc(90px - var(--LNR-left));
}
#Yaroslavl_Oblast {
    top: calc(375px - var(--Yaroslavl_Oblast-top));
    left: calc(190px - var(--Yaroslavl_Oblast-left));
}
#Novgorod_Oblast {
    top: calc(330px - var(--Novgorod_Oblast-top));
    left: calc(150px - var(--Novgorod_Oblast-left));
}

.project__region_holder h3 {
   font-size: 20px;
   line-height: 25px;
   
   .lg-block({
      font-size: 18px;
      line-height: 22px;
   })
}

.project__region_holder {
   position: absolute;
   z-index: 800;
   
   max-width: 350px;
   
   padding: 25px 32px;
   box-sizing: border-box;
   background-color: rgba(219, 232, 255, 0.9);
   color: #333333;
   text-align: center;
   
   display: none;
   
   .lg-block({
      padding: 12px 18px;
   })
}
.project__region_info {
   margin-top: 1rem;

}
.project__region_info .region__info-name {
   text-align: left;
   font-size: 18px;
   line-height: 22px;
   margin-bottom: .9rem;
}
.project__region_info .region__info {
   .flex();
   .items-center();
   text-align: left;
   margin-bottom: .4rem;
   
   color: #333333;
   .tr();
}
.project__region_info .region__info:hover {
   color: #9155ad;
   .tr();
}
.project__region_info .region__info:hover .icon-phone {
   background-image: url("../data/phone-hover.svg");
   .tr();
}
.project__region_info .region__info:hover .icon-mail {
   background-image: url("../data/mail-hover.svg");
   .tr();
}
.project__region_info .region__info:hover .icon-calendar {
   background-image: url("../data/calendar-hover.svg");
   .tr();
}

.project__region_holder.card_Irkutsk_Oblast {
   top: calc(320px - var(--Irkutsk_Oblast-top) - 10vw);
   left: calc(720px - var(--Irkutsk_Oblast-left));
}
.project__region_holder.card_Belgorod_Oblast {
   top: calc(455px - var(--Belgorod_Oblast-top) - 10vw);
   left: calc(200px - var(--Belgorod_Oblast-left));
}
.project__region_holder.card_St-Petersburg_City {
   top: calc(295px - var(--St-Petersburg_City-top) - 10vw);
   left: calc(250px - var(--St-Petersburg_City-left));
}
.project__region_holder.card_Leningradskaya_Oblast {
  top: calc(280px - var(--Leningradskaya_Oblast-top) - 10vw);
   left: calc(260px - var(--Leningradskaya_Oblast-left));
}
.project__region_holder.card_Bashkortostan_Republic {
    top: calc(390px - var(--Bashkortostan_Republic-top) - 10vw);
   left: calc(390px - var(--Bashkortostan_Republic-left));
}
.project__region_holder.card_North_Ossetia_Republic {
   top: calc(500px - var(--North_Ossetia_Republic-top) - 10vw);
   left: calc(180px - var(--North_Ossetia_Republic-left));
}
.project__region_holder.card_Kaluga_Oblast {
   top: calc(330px - var(--Kaluga_Oblast-top) - 10vw);
   left: calc(220px - var(--Kaluga_Oblast-left));
}
.project__region_holder.card_Ryazan_Oblast {
   top: calc(420px - var(--Ryazan_Oblast-top) - 10vw);
   left: calc(260px - var(--Ryazan_Oblast-left));
}
.project__region_holder.card_Orel_Oblast {
   top: calc(330px - var(--Orel_Oblast-top) - 10vw);
   left: calc(220px - var(--Orel_Oblast-left));
}
.project__region_holder.card_Kaliningrad_Oblast {
   top: calc(280px - var(--Kaliningrad_Oblast-top) - 10vw);
   left: calc(145px - var(--Kaliningrad_Oblast-left));
}
.project__region_holder.card_Khabarovsk_Krai {
   top: calc(290px - var(--Khabarovsk_Krai-top) - 10vw);
   left: unset;
   right: 5%;
}
.project__region_holder.card_Volgograd_Oblast {
   top: calc(400px - var(--Volgograd_Oblast-top) - 10vw);
   left: calc(250px - var(--Volgograd_Oblast-left));
}
.project__region_holder.card_Dagestan_Republic {
   top: calc(520px - var(--Dagestan_Republic-top) - 10vw);
   left: calc(200px - var(--Dagestan_Republic-left));
}
.project__region_holder.card_Tuva_Republic {
   top: calc(460px - var(--Tuva_Republic-top) - 10vw);
   left: calc(705px - var(--Tuva_Republic-left));
}
.project__region_holder.card_Buryatiya_Republic {
   top: calc(390px - var(--Buryatiya_Republic-top) - 10vw);
   left: calc(780px - var(--Buryatiya_Republic-left));
}
.project__region_holder.card_Voronezj_Oblast {
   top: calc(410px - var(--Voronezj_Oblast-top) - 10vw);
   left: calc(220px - var(--Voronezj_Oblast-left));
}
.project__region_holder.card_Moscow_City {
   top: calc(340px - var(--Moscow_City-top) - 10vw);
   left: calc(255px - var(--Moscow_City-left));
}
.project__region_holder.card_Rostov_Oblast {
   top: calc(420px - var(--Rostov_Oblast-top) - 10vw);
   left: calc(220px - var(--Rostov_Oblast-left));
}
.project__region_holder.card_Vladimir_Oblast {
   top: calc(320px - var(--Vladimir_Oblast-top) - 10vw);
   left: calc(280px - var(--Vladimir_Oblast-left));
}
.project__region_holder.card_Nizhny_Novgorod_Oblast {
   top: calc(350px - var(--Nizhny_Novgorod_Oblast-top) - 10vw);
   left: calc(340px - var(--Nizhny_Novgorod_Oblast-left));
}
.project__region_holder.card_Sverdlovsk_Oblast {
    top: calc(400px - var(--Sverdlovsk_Oblast-top) - 10vw);
    left: calc(390px - var(--Sverdlovsk_Oblast-left));
}
.project__region_holder.card_LNR {
    top: calc(350px - var(--LNR-top) - 10vw);
    left: calc(200px - var(--LNR-left));
}
.project__region_holder.card_Yaroslavl_Oblast {
    top: calc(320px - var(--Yaroslavl_Oblast-top) - 10vw);
    left: calc(350px - var(--Yaroslavl_Oblast-left));
}
.project__region_holder.card_Novgorod_Oblast {
    top: calc(340px - var(--Novgorod_Oblast-top) - 10vw);
    left: calc(240px - var(--Novgorod_Oblast-left));
}


.project__region_names {
   width: 100%;
   padding-left: 20px;
   box-sizing: border-box;
   
   display: none;
   .tr();
}
.project__region_names > div {
   .flex();
   .items-center();
   cursor: pointer;
   font-size: 18px;
    line-height: 22px;
   margin-bottom: 10px;
}
.project__region_names span {
   display: inline-block;
   position: relative;
}
.project__region_names .project__region_number {
   .flex-center();
   color: white;
   width: 28px;
   height: 28px;
   margin-right: 10px;
   border-radius: 50px;
   background-color: #4d2aab;
   
}
.project__region_names .region_chosen .project__region_number {
   .tr();
   background-color: rgba(219, 232, 255, 0.9);
   color: #333333
}

.ml-30 {
   margin-left: 30px;
}
.ml1 {
   margin-left: 2px;
}

@media screen and (max-width: 1350px) {
   :root {
      --Irkutsk_Oblast-top: 100px;
      --Irkutsk_Oblast-left: 130px;
      
      --Belgorod_Oblast-top: 85px;
      --Belgorod_Oblast-left: 15px;
      
      --St-Petersburg_City-top: 60px;
      --St-Petersburg_City-left: 30px;
      
      --Leningradskaya_Oblast-top: 60px;
      --Leningradskaya_Oblast-left: 30px;
      
      --Bashkortostan_Republic-top: 95px;
      --Bashkortostan_Republic-left: 55px;
      
      --North_Ossetia_Republic-top: 110px;
      --North_Ossetia_Republic-left: 20px;
      
      --Kaluga_Oblast-top: 73px;
      --Kaluga_Oblast-left: 25px;
      
      --Ryazan_Oblast-top: 80px;
      --Ryazan_Oblast-left: 30px;
      
      --Orel_Oblast-top: 77px;
      --Orel_Oblast-left: 30px;
      
      --Kaliningrad_Oblast-top: 50px;
      --Kaliningrad_Oblast-left: 20px;
      
      --Khabarovsk_Krai-top: 80px;
      --Khabarovsk_Krai-left: 180px;
      
      --Volgograd_Oblast-top: 97px;
      --Volgograd_Oblast-left: 27px;
      
      --Dagestan_Republic-top: 110px;
      --Dagestan_Republic-left: 20px;
      
      --Tuva_Republic-top: 117px;
      --Tuva_Republic-left: 120px;
      
      --Buryatiya_Republic-top: 100px;
      --Buryatiya_Republic-left: 147px;
      
      --Voronezj_Oblast-top: 87px;
      --Voronezj_Oblast-left: 21px;
      
      --Moscow_City-top: 72px;
      --Moscow_City-left: 30px;
      
      --Rostov_Oblast-top: 97px;
      --Rostov_Oblast-left: 21px;
      
      --Vladimir_Oblast-top: 73px;
      --Vladimir_Oblast-left: 32px;
      
      --Nizhny_Novgorod_Oblast-top: 80px;
      --Nizhny_Novgorod_Oblast-left: 40px;
      
      --Sverdlovsk_Oblast-top: 90px;
      --Sverdlovsk_Oblast-left: 66px;
      
      --LNR-top: 90px;
      --LNR-left: 20px;
      
      --Yaroslavl_Oblast-top: 75px;
      --Yaroslavl_Oblast-left: 35px;
      
      --Novgorod_Oblast-top: 65px;
      --Novgorod_Oblast-left: 30px;
   
   }
   
   .project__map_holder .map {
      width: 1000px;
      height: 620px;
   }
   
   .project__info_container:before {
      bottom: -10%
   }
   
   .project__region_holder.card_Novgorod_Oblast {
       left: calc(310px - var(--Novgorod_Oblast-left));
   }
}

@media screen and (max-width: 1150px) {
   :root {
      --Irkutsk_Oblast-top: 130px;
      --Irkutsk_Oblast-left: 190px;
      
      --Belgorod_Oblast-top: 125px;
      --Belgorod_Oblast-left: 30px;
      
      --St-Petersburg_City-top: 80px;
      --St-Petersburg_City-left: 45px;
      
      --Leningradskaya_Oblast-top: 80px;
      --Leningradskaya_Oblast-left: 40px;
      
      --Bashkortostan_Republic-top: 140px;
      --Bashkortostan_Republic-left: 78px;
      
      --North_Ossetia_Republic-top: 160px;
      --North_Ossetia_Republic-left: 30px;
      
      --Kaluga_Oblast-top: 105px;
      --Kaluga_Oblast-left: 35px;
      
      --Ryazan_Oblast-top: 117px;
      --Ryazan_Oblast-left: 45px;
      
      --Orel_Oblast-top: 110px;
      --Orel_Oblast-left: 35px;
      
      --Kaliningrad_Oblast-top: 75px;
      --Kaliningrad_Oblast-left: 15px;
      
      --Khabarovsk_Krai-top: 70px;
      --Khabarovsk_Krai-left: 205px;
      
      --Volgograd_Oblast-top: 138px;
      --Volgograd_Oblast-left: 40px;
      
      --Dagestan_Republic-top: 160px;
      --Dagestan_Republic-left: 20px;
      
      --Tuva_Republic-top: 170px;
      --Tuva_Republic-left: 175px;
      
      --Buryatiya_Republic-top: 150px;
      --Buryatiya_Republic-left: 213px;
      
      --Voronezj_Oblast-top: 127px;
      --Voronezj_Oblast-left: 29px;
      
      --Moscow_City-top: 108px;
      --Moscow_City-left: 40px;
      
      --Rostov_Oblast-top: 142px;
      --Rostov_Oblast-left: 29px;
      
      --Vladimir_Oblast-top: 108px;
      --Vladimir_Oblast-left: 47px;
      
      --Nizhny_Novgorod_Oblast-top: 117px;
      --Nizhny_Novgorod_Oblast-left: 53px;
      
      --Sverdlovsk_Oblast-top: 120px;
      --Sverdlovsk_Oblast-left: 100px;
      
      --LNR-top: 130px;
      --LNR-left: 30px;
      
      --Yaroslavl_Oblast-top: 107px;
      --Yaroslavl_Oblast-left: 48px;
      
      --Novgorod_Oblast-top: 90px;
      --Novgorod_Oblast-left: 40px;
   
   }
   
   .project__map_holder .map {
      width: 900px;
      height: 570px;
   }
   
   header.project__header_container {
      height: 420px;
   }
   
   .publications-detailed__title-is {
      font-size: 65px;
      line-height: 72px;
   }
   
   header.project__header_container:before {
      content: unset;
   }
   
   .project__info_container:before {
      bottom: 10%;
   }
   
   .project__info {
      width: 60%
   }
   
   .project__tasks_holder {
      grid-template-columns: 1fr;
      grid-template-rows: repeat( 4, 1fr );
   }
   
   .icon-task {
      width: 130px;
      min-width: 130px;
      height: 60px;
      margin-right: 10px;
   }
   
   .icon-task-2 {
      height: 65px;
   }
   
   .icon-task-4 {
      height: 70px;
      width: 130px;
      min-width: 130px;
      background-position: left;
   }
   .project__calendar_container {
      padding-top: 200px;
   }
   .project__calendar_holder {
      top: 320px;
      right: 3vw;
      bottom: 120px;
      left: 3vw;
   }
}

@media screen and (max-width: 1050px) {
   :root {
      --Irkutsk_Oblast-top: 230px;
      --Irkutsk_Oblast-left: 310px;
      
      --Belgorod_Oblast-top: 200px;
      --Belgorod_Oblast-left: 50px;
      
      --St-Petersburg_City-top: 130px;
      --St-Petersburg_City-left: 70px;
      
      --Leningradskaya_Oblast-top: 140px;
      --Leningradskaya_Oblast-left: 70px;
      
      --Bashkortostan_Republic-top: 220px;
      --Bashkortostan_Republic-left: 126px;
      
      --North_Ossetia_Republic-top: 260px;
      --North_Ossetia_Republic-left: 45px;
      
      --Kaluga_Oblast-top: 175px;
      --Kaluga_Oblast-left: 55px;
      
      --Ryazan_Oblast-top: 190px;
      --Ryazan_Oblast-left: 70px;
      
      --Orel_Oblast-top: 180px;
      --Orel_Oblast-left: 51px;
      
      --Kaliningrad_Oblast-top: 125px;
      --Kaliningrad_Oblast-left: 25px;
      
      --Khabarovsk_Krai-top: 150px;
      --Khabarovsk_Krai-left: 375px;
      
      --Volgograd_Oblast-top: 222px;
      --Volgograd_Oblast-left: 62px;
      
      --Dagestan_Republic-top: 270px;
      --Dagestan_Republic-left: 40px;
      
      --Tuva_Republic-top: 275px;
      --Tuva_Republic-left: 283px;
      
      --Buryatiya_Republic-top: 242px;
      --Buryatiya_Republic-left: 346px;
      
      --Voronezj_Oblast-top: 205px;
      --Voronezj_Oblast-left: 48px;
      
      --Moscow_City-top: 172px;
      --Moscow_City-left: 67px;
      
      --Rostov_Oblast-top: 227px;
      --Rostov_Oblast-left: 46px;
      
      --Vladimir_Oblast-top: 178px;
      --Vladimir_Oblast-left: 77px;
      
      --Nizhny_Novgorod_Oblast-top: 183px;
      --Nizhny_Novgorod_Oblast-left: 87px;
      
      --Sverdlovsk_Oblast-top: 200px;
      --Sverdlovsk_Oblast-left: 160px;
      
      --LNR-top: 213px;
      --LNR-left: 50px;
      
      --Yaroslavl_Oblast-top: 175px;
      --Yaroslavl_Oblast-left: 91px;
      
      --Novgorod_Oblast-top: 145px;
      --Novgorod_Oblast-left: 70px;
   
   }
   .project__info_container:before {
      bottom: 45%;
   }
   .project__map_holder .map {
      width: 700px;
      height: 470px;
   }
   
   .project__map_container h2.project-detailed__title__text.project-detailed__title__text-is {
      width: 90%;
   }
}

@media screen and (max-width: 868px) {
   :root {
      --Irkutsk_Oblast-top: 270px;
      --Irkutsk_Oblast-left: 370px;
      
      --Belgorod_Oblast-top: 245px;
      --Belgorod_Oblast-left: 65px;
      
      --St-Petersburg_City-top: 160px;
      --St-Petersburg_City-left: 90px;
      
      --Leningradskaya_Oblast-top: 167px;
      --Leningradskaya_Oblast-left: 90px;
      
      --Bashkortostan_Republic-top: 267px;
      --Bashkortostan_Republic-left: 145px;
      
      --North_Ossetia_Republic-top: 310px;
      --North_Ossetia_Republic-left: 53px;
      
      --Kaluga_Oblast-top: 210px;
      --Kaluga_Oblast-left: 65px;
      
      --Ryazan_Oblast-top: 225px;
      --Ryazan_Oblast-left: 88px;
      
      --Orel_Oblast-top: 218px;
      --Orel_Oblast-left: 70px;
      
      --Kaliningrad_Oblast-top: 155px;
      --Kaliningrad_Oblast-left: 25px;
      
      --Khabarovsk_Krai-top: 188px;
      --Khabarovsk_Krai-left: 462px;
      
      --Volgograd_Oblast-top: 265px;
      --Volgograd_Oblast-left: 75px;
      
      --Dagestan_Republic-top: 320px;
      --Dagestan_Republic-left: 50px;
      
      --Tuva_Republic-top: 325px;
      --Tuva_Republic-left: 338px;
      
      --Buryatiya_Republic-top: 287px;
      --Buryatiya_Republic-left: 413px;
      
      --Voronezj_Oblast-top: 248px;
      --Voronezj_Oblast-left: 62px;
      
      --Moscow_City-top: 206px;
      --Moscow_City-left: 77px;
      
      --Rostov_Oblast-top: 270px;
      --Rostov_Oblast-left: 56px;
      
      --Vladimir_Oblast-top: 210px;
      --Vladimir_Oblast-left: 87px;
      
      --Nizhny_Novgorod_Oblast-top: 216px;
      --Nizhny_Novgorod_Oblast-left: 103px;
      
      --Sverdlovsk_Oblast-top: 240px;
      --Sverdlovsk_Oblast-left: 190px;
      
      --LNR-top: 255px;
      --LNR-left: 50px;
      
      --Yaroslavl_Oblast-top: 203px;
      --Yaroslavl_Oblast-left: 91px;
      
      --Novgorod_Oblast-top: 170px;
      --Novgorod_Oblast-left: 85px;
   
   }
   
   
   .project__region_holder[ id^="card_big-"] {
      top: 40%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 80%;
   }
   
   
   .project__map_holder .map {
      width: 600px;
      height: 380px;
   }
   
   .project__link_container {
      height: 440px;
      margin-right: -20px;
      padding-right: 20px;
   }
   
   header.project__header_container {
      height: 350px;
   }
   
   .project__info_container:before {
      bottom: 40%
   }
   
   .publications-detailed__title.publications-detailed__title-is {
      font-size: 50px;
      line-height: 58px;
   }
   
   .project__map_container {
      margin-top: 100px;
   }
   .project__map_container h2 {
      width: 90%;
   }
}

@media screen and (max-width: 750px) {
   :root {
      --Irkutsk_Oblast-top: 320px;
      --Irkutsk_Oblast-left: 430px;
      
      --Belgorod_Oblast-top: 285px;
      --Belgorod_Oblast-left: 80px;
      
      --St-Petersburg_City-top: 180px;
      --St-Petersburg_City-left: 110px;
      
      --Leningradskaya_Oblast-top: 197px;
      --Leningradskaya_Oblast-left: 105px;
      
      --Bashkortostan_Republic-top: 310px;
      --Bashkortostan_Republic-left: 170px;
      
      --North_Ossetia_Republic-top: 360px;
      --North_Ossetia_Republic-left: 60px;
      
      --Kaluga_Oblast-top: 245px;
      --Kaluga_Oblast-left: 75px;
      
      --Ryazan_Oblast-top: 265px;
      --Ryazan_Oblast-left: 100px;
      
      --Orel_Oblast-top: 253px;
      --Orel_Oblast-left: 78px;
      
      --Kaliningrad_Oblast-top: 170px;
      --Kaliningrad_Oblast-left: 35px;
      
      --Khabarovsk_Krai-top: 227px;
      --Khabarovsk_Krai-left: 550px;
      
      --Volgograd_Oblast-top: 305px;
      --Volgograd_Oblast-left: 85px;
      
      --Dagestan_Republic-top: 370px;
      --Dagestan_Republic-left: 60px;
      
      --Tuva_Republic-top: 379px;
      --Tuva_Republic-left: 391px;
      
      --Buryatiya_Republic-top: 332px;
      --Buryatiya_Republic-left: 474px;
      
      --Voronezj_Oblast-top: 286px;
      --Voronezj_Oblast-left: 72px;
      
      --Moscow_City-top: 243px;
      --Moscow_City-left: 87px;
      
      --Rostov_Oblast-top: 314px;
      --Rostov_Oblast-left: 63px;
      
      --Vladimir_Oblast-top: 250px;
      --Vladimir_Oblast-left: 94px;
      
      --Nizhny_Novgorod_Oblast-top: 256px;
      --Nizhny_Novgorod_Oblast-left: 118px;

      --Sverdlovsk_Oblast-top: 290px;
      --Sverdlovsk_Oblast-left: 220px;
      
      --LNR-top: 300px;
      --LNR-left: 60px;
      
      --Yaroslavl_Oblast-top: 243px;
      --Yaroslavl_Oblast-left: 106px;
      
      --Novgorod_Oblast-top: 199px;
      --Novgorod_Oblast-left: 90px;
   
   }
   .region {
      width: 20px;
      height: 20px;
      font-size: 13px;
   }
   .project__calendar_container {
      padding-top: 160px;
   }
   
   .project__map_holder .map {
      width: 500px;
      height: 340px;
   }
   
   .body-wrapper.project-is {
      padding: 0;
   }
   
   .wrapper {
      width: 100%;
      overflow: hidden;
   }
   
   .project__link_container {
      height: 420px;
      margin-right: 0;
   }
   
   header.project__header_container {
      height: 320px;
      padding: 35px 30px;
   }
   
   .publications-detailed__title.publications-detailed__title-is {
      font-size: 8vw;
      line-height: 8.3vw;
   }
   
   .project-detailed__title__text.project-detailed__title__text-is {
      font-size: 6.9vw;
      line-height: 7.5vw;
   }
   
   .project__info_container:before {
      width: 73%;
      bottom: 100%;
      right: 0;
      left: unset;
   }
   
   .project__info_container,
   .project__tasks_container {
      margin-top: 15vw;
   }
   .project__map_container {
      margin-top: 12vw;
   }
   
   .project__info,
   .project__tasks_container,
   .project__map_container h2 {
      width: 90%;
      margin-left: 30px;
   }
   
   .project__calendar_container {
      padding-top: 160px;
      margin-top: 17vw;
   }
   
   .project__calendar_container:before {
      left: 20px;
   }
   
   .project__calendar_holder {
      top: 300px;
      right: 20px;
      bottom: 90px;
      left: 20px;
   }
}

@media screen and (max-width: 650px) {
   :root {
      --Irkutsk_Oblast-top: 340px;
      --Irkutsk_Oblast-left: 455px;
      
      --Belgorod_Oblast-top: 300px;
      --Belgorod_Oblast-left: 79px;
      
      --St-Petersburg_City-top: 200px;
      --St-Petersburg_City-left: 110px;
      
      --Leningradskaya_Oblast-top: 200px;
      --Leningradskaya_Oblast-left: 115px;
      
      --Bashkortostan_Republic-top: 325px;
      --Bashkortostan_Republic-left: 180px;
      
      --North_Ossetia_Republic-top: 380px;
      --North_Ossetia_Republic-left: 60px;
      
      --Kaluga_Oblast-top: 257px;
      --Kaluga_Oblast-left: 80px;
      
      --Ryazan_Oblast-top: 275px;
      --Ryazan_Oblast-left: 100px;
      
      --Orel_Oblast-top: 265px;
      --Orel_Oblast-left: 78px;
      
      --Kaliningrad_Oblast-top: 179px;
      --Kaliningrad_Oblast-left: 35px;
      
      --Khabarovsk_Krai-top: 243px;
      --Khabarovsk_Krai-left: 584px;
      
      --Volgograd_Oblast-top: 325px;
      --Volgograd_Oblast-left: 89px;
      
      --Dagestan_Republic-top: 390px;
      --Dagestan_Republic-left: 60px;
      
      --Tuva_Republic-top: 398px;
      --Tuva_Republic-left: 414px;
      
      --Buryatiya_Republic-top: 349px;
      --Buryatiya_Republic-left: 499px;
      
      --Voronezj_Oblast-top: 300px;
      --Voronezj_Oblast-left: 82px;
      
      --Moscow_City-top: 252px;
      --Moscow_City-left: 96px;
      
      --Rostov_Oblast-top: 328px;
      --Rostov_Oblast-left: 63px;
      
      --Vladimir_Oblast-top: 260px;
      --Vladimir_Oblast-left: 104px;
      
      --Nizhny_Novgorod_Oblast-top: 269px;
      --Nizhny_Novgorod_Oblast-left: 121px;
      
      --Sverdlovsk_Oblast-top: 300px;
      --Sverdlovsk_Oblast-left: 230px;
      
      --LNR-top: 310px;
      --LNR-left: 70px;
      
      --Yaroslavl_Oblast-top: 250px;
      --Yaroslavl_Oblast-left: 106px;
      
      --Novgorod_Oblast-top: 215px;
      --Novgorod_Oblast-left: 105px;
   
   }
   .project__info_container {
      margin-top: 20vw;
   }
   .project__map_holder .map {
      width: 460px;
      height: 310px;
   }
   .region {
      width: 22px;
      height: 22px;
   }
   
   .project__link_container {
      height: 340px;
      padding: 12px 25px 0;
   }
   
   header.project__header_container {
      height: 270px;
      padding: 25px 20px;
      margin-top: 45px;
      margin-right: 20px;
   }
   
   .project__info,
   .project__map_container h2 {
      width: 90%;
      margin-left: 20px;
   }
   
   .project__calendar_holder {
      top: 260px;
   }
}

@media screen and (max-width: 590px) {
   :root {
      --Irkutsk_Oblast-top: 338px;
      --Irkutsk_Oblast-left: 455px;
      
      --Khabarovsk_Krai-top: 246px;
      --Khabarovsk_Krai-left: 593px;
      
      --Dagestan_Republic-top: 400px;
      --Dagestan_Republic-left: 60px;
      
      --Tuva_Republic-top: 403px;
      --Tuva_Republic-left: 418px;
      
      --Buryatiya_Republic-top: 353px;
      --Buryatiya_Republic-left: 508px;
   }
}

@media screen and (max-width: 560px) {
   .project__map_img {
      transition: none;
   }
   .region {
      display: none;
   }
   
   .project__map_holder {
      margin-top: 60px;
      .column-center()
   }
   .project__region_names {
      display: block;
   }
   .project__map_container {
      margin-bottom: 50px;
   }
   
    .project__region_holder[ id^="card_big-"] {
       top: 110%;
      width: 88%;
   }
   .project__region_info .region__info-name {
      font-size: 16px;
    line-height: 20px;
   }
   
   .project__map_holder .map {
      width: 96%;
      height: 70vw;
      margin: -30px 2% 10px;
   }
   .project__map_container h2 {
      margin-bottom: 2.5rem !important;
   }
   
   .project__link_container {
      height: 70vw;
      padding: 12px 25px 0;
   }
   
   header.project__header_container {
      height: 50vw;
      padding: 25px 20px;
      margin-top: 45px;
      margin-right: 20px;
   }
   
   .project__info {
      width: 90%;
      margin-left: 20px;
   }
   
   .project__tasks_container h2 {
      margin-bottom: 2.5rem !important;
   }
   .project__tasks_container {
      grid-gap: 5px;
      grid-template-rows: 60px 1fr 1fr;
      margin-left: 20px;
   }
   
   .project__item {
      .column();
   }
   
   .icon-task {
      width: 100%;
      min-width: 150px;
      height: 50px;
      margin-right: 0;
      margin-bottom: 5px;
   }
   
   .icon-task-2 {
      height: 60px;
   }
   .icon-task-4 {
      min-width: 150px;
      margin-top: 1rem;
   }
}

@media screen and (max-width: 460px) {
   .project__link_container {
      width: 90%;
      right: 50px;
      margin-right: -60px;
   }
   
   header.project__header_container {
      height: 50vw;
      padding: 25px 20px;
      margin-top: 45px;
      margin-right: 20px;
   }
   
   .project__info {
      width: 90%;
      margin-left: 20px;
   }
}
